---
import Header from "@/components/astro/Header/Header.astro";
import type { NavbarLinkProps } from "@/components/astro/NavbarLink/NavbarLink.astro";
import "@/styles/global.scss";

export interface MainLayoutProps {
  title?: string;
  description?: string;
  isHeaderAbsolute?: boolean;
}

const {
  title = "Punto Di Sapori",
  description = "Welcome to Punto Di Sapori restaurant",
  isHeaderAbsolute = false,
} = Astro.props as MainLayoutProps;

const navbarLinks = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/contact-us",
    text: "Contact us",
  },
] as NavbarLinkProps[];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Header isAbsolute={isHeaderAbsolute} navbarLinks={navbarLinks} />
    <slot />
  </body>
</html>
